name: Docker container release

on:
  push:
    branches:
      - main

jobs:
  release-docker:
    name: Build web-server docker container
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Prepare
        id: prepare-docker-container
        run: |
          DOCKER_IMAGE=microlc/micro-lc
          echo "tag=microlc/micro-lc:unstable" >> $GITHUB_OUTPUT

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and export to Docker
        uses: docker/build-push-action@v4
        with:
          context: ./
          load: true
          tags: ${{ steps.prepare-docker-container.outputs.tag }}

      - name: Test
        run: |
          echo '**CSP_NONCE**' > csp.html
          
          export CONTAINER_NAME=microlc
          docker run \
            -d \
            -p 8080:8080 \
            --name $CONTAINER_NAME \
            -v `pwd`/csp.html:/usr/static/csp.html \
            ${{ steps.prepare-docker-container.outputs.tag }}

          curl "http://0.0.0.0:8080/index.html" --connect-timeout 5 --retry 5
          
          CSP=$(curl "http://0.0.0.0:8080/csp.html" --connect-timeout 2)

          docker stop $CONTAINER_NAME

          [[ "$CSP" != "**CSP_NONCE**" ]] && exit 0 || exit 1
